# Backend root URL for the React frontend
VITE_BACKEND_ROOT_URL=http://localhost:8080
VITE_FOOTER_HTML=<div class='px-3'>A project by Anu Shibin Joseph Raj. <a class='text-blue-600 hover:text-blue-800' href='https://github.com/anushibinj/ve-mailer' target='_blank'>Fork me on GitHub</a></div>
